<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baum1_apfel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_apfel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_apfel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{193,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{193,183},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{385,1},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{186,176}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{385,183},{186,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_apfel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,139}</string>
                <key>spriteSourceSize</key>
                <string>{111,139}</string>
                <key>textureRect</key>
                <string>{{577,1},{111,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_apfel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,139}</string>
                <key>spriteSourceSize</key>
                <string>{111,139}</string>
                <key>textureRect</key>
                <string>{{690,1},{111,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_apfel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,139}</string>
                <key>spriteSourceSize</key>
                <string>{111,139}</string>
                <key>textureRect</key>
                <string>{{803,1},{111,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,139}</string>
                <key>spriteSourceSize</key>
                <string>{111,139}</string>
                <key>textureRect</key>
                <string>{{577,142},{111,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum2_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,139}</string>
                <key>spriteSourceSize</key>
                <string>{111,139}</string>
                <key>textureRect</key>
                <string>{{718,142},{111,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum2_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{101,137}</string>
                <key>spriteSourceSize</key>
                <string>{111,139}</string>
                <key>textureRect</key>
                <string>{{573,255},{101,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum3_spring_summer_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,171}</string>
                <key>spriteSourceSize</key>
                <string>{136,171}</string>
                <key>textureRect</key>
                <string>{{385,361},{136,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum3_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,171}</string>
                <key>spriteSourceSize</key>
                <string>{136,171}</string>
                <key>textureRect</key>
                <string>{{558,361},{136,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum4_apfel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,111}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{1,365},{132,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum4_apfel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,111}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{114,365},{132,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum4_apfel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,111}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{227,365},{132,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum4_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,111}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{859,142},{132,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum4_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,111}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{824,255},{132,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum4_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{126,109}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{731,368},{126,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{731,340},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>erlenmeyerkolben.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,82}</string>
                <key>spriteSourceSize</key>
                <string>{36,82}</string>
                <key>textureRect</key>
                <string>{{340,365},{36,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{763,340},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honigglas_2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{933,422},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honigglas_3d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,72}</string>
                <key>spriteSourceSize</key>
                <string>{49,72}</string>
                <key>textureRect</key>
                <string>{{859,422},{49,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honigkessel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,109}</string>
                <key>spriteSourceSize</key>
                <string>{70,109}</string>
                <key>textureRect</key>
                <string>{{916,1},{70,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honigschleuder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{712,255},{83,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,12}</string>
                <key>spriteSourceSize</key>
                <string>{35,12}</string>
                <key>textureRect</key>
                <string>{{956,405},{35,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>münze_einzeln.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{340,449},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>münze_haufen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,52}</string>
                <key>spriteSourceSize</key>
                <string>{95,52}</string>
                <key>textureRect</key>
                <string>{{859,368},{95,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{916,112},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{956,368},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{958,255},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{948,112},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{958,287},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{992,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c844e8a10ca97311da411f11d65c7602:a2b2596d71957f1fe29905214b756f99:92d6dc258d8063ee78c8dbda62175aed$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
