# Cmake build folders
cmake-build-debug/
cmake-build-release/

# windows build folder 
proj.win32/Debug.win32/

# bin folder
bin/

# android build folders
cocos2d/cocos/platform/android/libcocos2dx/build
proj.android/.idea/
proj.android/app/PSE-Bee-Game.iml
cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
proj.android/proj.android.iml
proj.android/build.gradle
proj.android/gradle/
*.obj
*.dll
*.tlog
*.pdb
*.db
*.log
*.pch
*.idb
*.aps
proj.win32/.vs/PSE-Bee-Game/v15/.suo

# IDE folder
.idea/

# arch fmod lib different from deb

cocos2d/external/linux-specific
