<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baum1_apfel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,360}</string>
                <key>spriteSourceSize</key>
                <string>{381,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{381,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_apfel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{380,360}</string>
                <key>textureRect</key>
                <string>{{1,363},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_apfel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{380,360}</string>
                <key>textureRect</key>
                <string>{{384,1},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{380,360}</string>
                <key>textureRect</key>
                <string>{{1,725},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{380,360}</string>
                <key>textureRect</key>
                <string>{{383,363},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum1_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{372,348}</string>
                <key>spriteSourceSize</key>
                <string>{380,360}</string>
                <key>textureRect</key>
                <string>{{1,1087},{372,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_apfel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,278}</string>
                <key>spriteSourceSize</key>
                <string>{221,278}</string>
                <key>textureRect</key>
                <string>{{766,1},{221,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_apfel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,278}</string>
                <key>spriteSourceSize</key>
                <string>{221,278}</string>
                <key>textureRect</key>
                <string>{{766,281},{221,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_apfel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,278}</string>
                <key>spriteSourceSize</key>
                <string>{221,278}</string>
                <key>textureRect</key>
                <string>{{658,828},{221,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum2_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,278}</string>
                <key>spriteSourceSize</key>
                <string>{221,278}</string>
                <key>textureRect</key>
                <string>{{275,1437},{221,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,278}</string>
                <key>spriteSourceSize</key>
                <string>{221,278}</string>
                <key>textureRect</key>
                <string>{{313,1717},{221,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum2_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{199,272}</string>
                <key>spriteSourceSize</key>
                <string>{221,278}</string>
                <key>textureRect</key>
                <string>{{658,1051},{199,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum3_spring_summer_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,342}</string>
                <key>spriteSourceSize</key>
                <string>{273,342}</string>
                <key>textureRect</key>
                <string>{{383,725},{273,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum3_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,342}</string>
                <key>spriteSourceSize</key>
                <string>{272,342}</string>
                <key>textureRect</key>
                <string>{{1,1437},{272,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum4_apfel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,222}</string>
                <key>spriteSourceSize</key>
                <string>{265,222}</string>
                <key>textureRect</key>
                <string>{{765,561},{265,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum4_apfel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,222}</string>
                <key>spriteSourceSize</key>
                <string>{265,222}</string>
                <key>textureRect</key>
                <string>{{383,1069},{265,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum4_apfel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,222}</string>
                <key>spriteSourceSize</key>
                <string>{265,222}</string>
                <key>textureRect</key>
                <string>{{650,1252},{265,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum4_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,222}</string>
                <key>spriteSourceSize</key>
                <string>{265,222}</string>
                <key>textureRect</key>
                <string>{{498,1476},{265,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baum4_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,222}</string>
                <key>spriteSourceSize</key>
                <string>{265,222}</string>
                <key>textureRect</key>
                <string>{{765,1476},{265,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baum4_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{249,216}</string>
                <key>spriteSourceSize</key>
                <string>{265,222}</string>
                <key>textureRect</key>
                <string>{{536,1700},{249,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{825,1890},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erlenmeyerkolben.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,165}</string>
                <key>spriteSourceSize</key>
                <string>{72,165}</string>
                <key>textureRect</key>
                <string>{{566,1293},{72,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{879,1877},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honigglas_2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{853,1743},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honigglas_3d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,145}</string>
                <key>spriteSourceSize</key>
                <string>{97,145}</string>
                <key>textureRect</key>
                <string>{{754,1743},{97,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honigkessel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{141,217}</string>
                <key>textureRect</key>
                <string>{{170,1781},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honigschleuder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,220}</string>
                <key>spriteSourceSize</key>
                <string>{167,220}</string>
                <key>textureRect</key>
                <string>{{1,1781},{167,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,23}</string>
                <key>spriteSourceSize</key>
                <string>{69,23}</string>
                <key>textureRect</key>
                <string>{{938,828},{69,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>münze_einzeln.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{85,90}</string>
                <key>textureRect</key>
                <string>{{658,725},{85,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>münze_haufen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,104}</string>
                <key>spriteSourceSize</key>
                <string>{189,104}</string>
                <key>textureRect</key>
                <string>{{375,1293},{189,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{933,1877},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{754,1890},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{498,1399},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{917,1252},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{917,1314},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{988,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c844e8a10ca97311da411f11d65c7602:a2b2596d71957f1fe29905214b756f99:92d6dc258d8063ee78c8dbda62175aed$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
