<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_10_steinplattenboden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1746,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_1_bienenstock1_klein.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{0,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_2_bienenstock1_mittel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{194,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_3_bienenstock1_gross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{388,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_4_bienenstock2_klein.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{582,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_5_bienenstock2_mittel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{776,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_6_bienenstock2_gross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{970,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_7_bienenstock3_mittel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1164,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_8_bienenstock3_gross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1358,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_9_grasflaeche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1552,0},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_10_schneetextur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{1746,264},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1_bienenstock_klein_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{0,264},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2_bienenstock_mittel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{194,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_3_bienenstock_gross_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{388,264},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_4_blumen1.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{582,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_5_blumen1.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{776,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_6_blumen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{970,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_7_blumen2.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1164,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_8_blumen2.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1358,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_9_blumen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1552,264},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_10_blumen4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1746,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_1_busch1_spring_summer_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{0,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_2_busch2_spring_summer_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{194,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_3_busch3_spring_summer_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{388,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_4_busch4_spring_summer_fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{582,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_5_blumen3.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{776,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_6_blumen3.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{970,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_7_blumen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1164,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_8_blumen4.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1358,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_9_blumen4.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{1552,528},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_1_busch1_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{0,792},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_2_busch2_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{194,792},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_3_busch3_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{388,792},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_4_busch4_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,264}</string>
                <key>spriteSourceSize</key>
                <string>{194,264}</string>
                <key>textureRect</key>
                <string>{{582,792},{194,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_5_schneetextur_rand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{776,792},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_6_schneetextur_rand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{970,792},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>schneetextur_rand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{1164,792},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>schneetextur_rand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,263}</string>
                <key>spriteSourceSize</key>
                <string>{194,263}</string>
                <key>textureRect</key>
                <string>{{1358,792},{194,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tilesheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b00380492282d2e407208ac29845782b:51fe266da622912bbbf35ffea3aaaaee:560e855d9645eda5b14066e942efd553$</string>
            <key>textureFileName</key>
            <string>tilesheet.png</string>
        </dict>
    </dict>
</plist>
