<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blumen1_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{0,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busch1_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{194,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busch2_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{388,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busch3_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{582,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busch4_spring_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{776,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grastextur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{970,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>steinplattenboden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,168}</string>
                <key>spriteSourceSize</key>
                <string>{194,168}</string>
                <key>textureRect</key>
                <string>{{1164,0},{194,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:155fcdf405be0aceae00d8a49e06b24d:9e10762508d00e9169d56cb879eb7c25:92d6dc258d8063ee78c8dbda62175aed$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
