<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bienenstock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,1792},{389,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,286}}</string>
                <key>sourceSize</key>
                <string>{389,286}</string>
            </dict>
            <key>baum1_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1166,996}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1166,996}}</string>
                <key>sourceSize</key>
                <string>{1166,996}</string>
            </dict>
            <key>baum2_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,780},{776,727}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,727}}</string>
                <key>sourceSize</key>
                <string>{776,727}</string>
            </dict>
            <key>baum3_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{776,843}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,843}}</string>
                <key>sourceSize</key>
                <string>{776,843}</string>
            </dict>
            <key>baum4_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{775,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{775,617}}</string>
                <key>sourceSize</key>
                <string>{775,617}</string>
            </dict>
            <key>blumen_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1000},{389,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{389,333}}</string>
                <key>sourceSize</key>
                <string>{389,335}</string>
            </dict>
            <key>busch1_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1509},{389,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,288}}</string>
                <key>sourceSize</key>
                <string>{389,288}</string>
            </dict>
            <key>busch2_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1938},{389,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,280}}</string>
                <key>sourceSize</key>
                <string>{389,280}</string>
            </dict>
            <key>busch3_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1335},{389,296}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{389,296}}</string>
                <key>sourceSize</key>
                <string>{389,298}</string>
            </dict>
            <key>busch4_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1633},{390,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,303}}</string>
                <key>sourceSize</key>
                <string>{390,303}</string>
            </dict>
            <key>erlenmeyerkolben.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1619},{144,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,329}}</string>
                <key>sourceSize</key>
                <string>{144,329}</string>
            </dict>
            <key>grastextur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1955},{386,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,233}}</string>
                <key>sourceSize</key>
                <string>{386,233}</string>
            </dict>
            <key>honigglas_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1961},{202,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,263}}</string>
                <key>sourceSize</key>
                <string>{202,263}</string>
            </dict>
            <key>honigglas_isometric.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1765},{194,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,290}}</string>
                <key>sourceSize</key>
                <string>{194,290}</string>
            </dict>
            <key>honigkessel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1509},{281,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,435}}</string>
                <key>sourceSize</key>
                <string>{281,435}</string>
            </dict>
            <key>honigschleuder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1619},{334,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,440}}</string>
                <key>sourceSize</key>
                <string>{334,440}</string>
            </dict>
            <key>münze_einzeln.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2165},{169,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,180}}</string>
                <key>sourceSize</key>
                <string>{169,180}</string>
            </dict>
            <key>münzhaufen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1799},{378,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,208}}</string>
                <key>sourceSize</key>
                <string>{378,208}</string>
            </dict>
            <key>steinplattenboden.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2009},{369,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,221}}</string>
                <key>sourceSize</key>
                <string>{369,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d166472e44f7e3558935109dcc652ae3:a885da8f1939eb9707d95e3ad78fdcbe:92d6dc258d8063ee78c8dbda62175aed$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
