<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bienenstock.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,900},{195,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,143}}</string>
                <key>sourceSize</key>
                <string>{195,143}</string>
            </dict>
            <key>baum1_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,498}}</string>
                <key>sourceSize</key>
                <string>{583,498}</string>
            </dict>
            <key>baum2_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,392},{388,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,364}}</string>
                <key>sourceSize</key>
                <string>{388,364}</string>
            </dict>
            <key>baum3_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{388,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,422}}</string>
                <key>sourceSize</key>
                <string>{388,422}</string>
            </dict>
            <key>baum4_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{387,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,309}}</string>
                <key>sourceSize</key>
                <string>{387,309}</string>
            </dict>
            <key>blumen_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,502},{194,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,168}}</string>
                <key>sourceSize</key>
                <string>{194,168}</string>
            </dict>
            <key>busch1_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,672},{194,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,144}}</string>
                <key>sourceSize</key>
                <string>{194,144}</string>
            </dict>
            <key>busch2_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,936},{195,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,140}}</string>
                <key>sourceSize</key>
                <string>{195,140}</string>
            </dict>
            <key>busch3_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,758},{195,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,149}}</string>
                <key>sourceSize</key>
                <string>{195,149}</string>
            </dict>
            <key>busch4_summer_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,887},{195,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,152}}</string>
                <key>sourceSize</key>
                <string>{195,152}</string>
            </dict>
            <key>erlenmeyerkolben.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,813},{72,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,165}}</string>
                <key>sourceSize</key>
                <string>{72,165}</string>
            </dict>
            <key>grastextur.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,818},{193,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,116}}</string>
                <key>sourceSize</key>
                <string>{193,116}</string>
            </dict>
            <key>honigglas_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1045},{101,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{101,132}</string>
            </dict>
            <key>honigglas_isometric.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1022},{97,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,145}}</string>
                <key>sourceSize</key>
                <string>{97,145}</string>
            </dict>
            <key>honigkessel.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,758},{140,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,217}}</string>
                <key>sourceSize</key>
                <string>{140,217}</string>
            </dict>
            <key>honigschleuder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{167,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,220}}</string>
                <key>sourceSize</key>
                <string>{167,220}</string>
            </dict>
            <key>münze_einzeln.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1022},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>münzhaufen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{189,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,104}}</string>
                <key>sourceSize</key>
                <string>{189,104}</string>
            </dict>
            <key>steinplattenboden.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,909},{184,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,111}}</string>
                <key>sourceSize</key>
                <string>{184,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d166472e44f7e3558935109dcc652ae3:a885da8f1939eb9707d95e3ad78fdcbe:92d6dc258d8063ee78c8dbda62175aed$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
